FishProject/Temp
FishProject/Library
AssetBundle
/webserver
backups
FishProject/.vs/FishProject/v14/.suo
FishProject/Assembly-CSharp.csproj
FishProject/Library/assetDatabase3
FishProject/Library/CurrentLayout.dwlt
FishProject/Library/expandedItems
FishProject/Library/LastSceneManagerSetup.txt
FishProject/Library/metadata/96/9621a0179b692cd46b020b1de545ebed
FishProject/Library/metadata/a1/a15c7c605b19ed7439c4659ff001778a
FishProject/Library/metadata/f9/f9c39803955a379499b786e79795112b
FishProject/Library/metadata/f9/f9c3c26b1adcb0c49b76c4c1e635c526
FishProject/Library/ScriptAssemblies/Assembly-CSharp.dll
FishProject/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
FishProject/Library/shadercompiler-UnityShaderCompiler.exe0.log
FishProject/obj/Debug/build.force
FishProject/.vs/FishProject/v14/.suo
